.product{
    width: 300px;
    height: 520px;
    border: 2px solid #979797;
    border-radius: 10px;
    position: relative;
}

.product img{
    height: 286px;
    width: 285px;
    margin: 7px;
    border-radius: 10px;
}
.product-name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.0015em;
    color: black;
}
.product-info{
    margin-left: 14px;
}
.product-info p{
    margin-top: -10px;
}
.btn-cart{
    background-color: #ffe4c4;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: #085e61;
    color: white;
}